.Podcast {
    padding: 2em;
    min-width: 40vw;
    max-height: 100vh;
    overflow-y: scroll;
}

.Podcast p {
    line-height: 1.75rem;
    font-size: 1.25rem;
}

.Podcast-Title a {
    text-decoration: none;
}

.Podcast-Image {
    display: block;
    width: 200px;
    margin: 0 auto;
}

.Podcast-Description {
    text-align: left;
}

.Podcast-Episodes {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 1em;
}

.Podcast-Episode-Title {
    margin: 0;
}
